
  .div {
    display: flex;
  
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: pink;
  }
  
  img {
    width: 300px;
    height: 400px;
  }

  .container-section-product {
      display: flex;
      flex-direction: column;
      height: 600px;

        .container-list {
            display: flex;
            flex-direction: row;
            justify-content: center;

          .card {
            height: 100px;
          
            .card-image {
              
              }
            }
            
            .container-product {
              display: flex;
              flex-direction: column;
              height: 300px;
              width: 200px;
              border: 2px solid red;
              border-radius: 4px;
              margin: 40px;
              transition: all .2s ease;
              &:hover {
                height: 320px;
                box-shadow: 3px 7px 24px 3px rgba(0,0,0,0.41);
                

                .container-bot {
                  p {
                    opacity: 1;
                    
                  }
                }
              }
                .container-top {
                  justify-content: center;
                  align-items: center;
                  background-color: #C0D6DF;
                  height: 240px;
                  .product {
                    width: 100%;
                    height: auto;
                  }
                  @supports(object-fit: cover){
                    .product{
                      height: 100%;
                      object-fit: cover;
                      object-position: center center;
                        }
                      }  

                }
                .container-bot {
                  display: flex;
                  justify-content: flex-start;
                  height: 60px;
                  border-top: .5px  black;
                    p {
                      opacity: 0;
                      transition: 0.3s all ease-in-out;
                    }
                }
            }
        }
  }



     header{
            width: 100%;
            background-color: #FAFAFA;
            overflow: hidden;
            margin-bottom: 20px; 
        }

     .wrapper{
            width:100%;
            max-width: 1000px;
            margin: auto;
            overflow: hidden;
        }

     .logo{
            font-size: 50px;
            line-height: 100px;
            float: left;
        }

     header .buttoms{
            line-height: 100px;
            float: right;
        }

     header .buttoms a {
            font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
            color: #333;
            display: inline-block;
            text-decoration: none;
            padding: 10px 20px;
            line-height: normal;
            font-size: 20px;
            font-weight: bold;
            -webkit-transition:  all 500ms ease;
            -o-transition: all 500ms ease;
            transition:  all 500ms ease;
            cursor: pointer;
        }
        
     header .buttoms a:hover{
         background: orange;
         border-radius: 50px;
     }

.fondoFooter {
  background: url(imagenes-josu/tiny-squares.png)
}