
  .div {
    display: flex;
  
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: pink;
  }
  
  img {
    width: 300px;
    height: 400px;
  }

  .conteiner-section-product {
      display: flex;
      flex-direction: column;
      height: 400px;

        .conteiner-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            .conteiner-product {
              display: flex;
              flex-direction: column;
              height: 150px;
              width: 100px;
              border: 2px solid red;
              margin: 40px;
              transition: all .5s ease;
              
                .conteiner-top {
                  justify-content: center;
                  align-items: center;
                  background-color: #C0D6DF;
                  border: 2px solid black;
                  height: 100px;
                  width: 100px;
                  .product {
                    width: 100%;
                    height: auto;
                  }
                  @supports(object-fit: cover){
                    .product{
                      height: 100%;
                      object-fit: cover;
                      object-position: center center;
                        }
                      }  

                }
                .conteiner-bot {
                  display: flex;
                  justify-content: flex-start;
                  height: 50px;
                  width:  100px;
                    .titulo-product {
                    visibility: hidden;
                    }
                }

            }
            .conteiner-product:hover {
              height: 175px;
            }
        }
  }



     header{
            width: 100%;
            background:#BDBDBD;
            overflow: hidden;
            margin-bottom: 20px; 
        }

     .wrapper{
            width:100%;
            max-width: 1000px;
            margin: auto;
            overflow: hidden;
        }

     .logo{
            font-size: 50px;
            line-height: 100px;
            float: left;
        }

     header .buttoms{
            line-height: 100px;
            float: right;
        }

     header .buttoms a {
            font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
            color: #333;
            display: inline-block;
            text-decoration: none;
            padding: 10px 20px;
            line-height: normal;
            font-size: 20px;
            font-weight: bold;
            -webkit-transition:  all 500ms ease;
            -o-transition: all 500ms ease;
            transition:  all 500ms ease;
        }
        
     header .buttoms a:hover{
         background: orange;
         border-radius: 50px;
     }

    