.div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 200px;
  background-color: pink;
}

img {
  width: 300px;
  height: 400px;
}

.container-section-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 600px;
}

.container-section-product .container-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-section-product .container-list .card {
  height: 100px;
}

.container-section-product .container-list .container-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  width: 200px;
  border: 2px solid red;
  border-radius: 4px;
  margin: 40px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.container-section-product .container-list .container-product:hover {
  height: 320px;
  -webkit-box-shadow: 3px 7px 24px 3px rgba(0, 0, 0, 0.41);
          box-shadow: 3px 7px 24px 3px rgba(0, 0, 0, 0.41);
}

.container-section-product .container-list .container-product:hover .container-bot p {
  opacity: 1;
}

.container-section-product .container-list .container-product .container-top {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #C0D6DF;
  height: 240px;
}

.container-section-product .container-list .container-product .container-top .product {
  width: 100%;
  height: auto;
}

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .container-section-product .container-list .container-product .container-top .product {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
}

.container-section-product .container-list .container-product .container-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 60px;
  border-top: .5px  black;
}

.container-section-product .container-list .container-product .container-bot p {
  opacity: 0;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

header {
  width: 100%;
  background-color: #FAFAFA;
  overflow: hidden;
  margin-bottom: 20px;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.logo {
  font-size: 50px;
  line-height: 100px;
  float: left;
}

header .buttoms {
  line-height: 100px;
  float: right;
}

header .buttoms a {
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  color: #333;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: pointer;
}

header .buttoms a:hover {
  background: orange;
  border-radius: 50px;
}

footer {
  bottom: 50px;
  width: 100%;
  height: 500px;
  background: url("fondisho.png");
  background-repeat: repeat;
  /*background-size: 50%;
         position:absolute;
         bottom:5px;
         right:10px;
          width: 100%;
         height: 5%;*/
}
/*# sourceMappingURL=styles.css.map */