* {
  padding: 0px;
  margin: 0px;
}

.div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 200px;
  background-color: pink;
}

.container-section-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 600px;
  background-color: #E8E8E8;
}

.container-section-product .container-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-section-product .container-list .card {
  height: 100px;
}

.container-section-product .container-list .container-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 270px;
  width: 200px;
  border-radius: 5px;
  margin: 40px;
  margin-bottom: 70px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.24);
}

.container-section-product .container-list .container-product:hover {
  height: 320px;
  -webkit-box-shadow: 3px 7px 24px 3px rgba(0, 0, 0, 0.41);
          box-shadow: 3px 7px 24px 3px rgba(0, 0, 0, 0.41);
}

.container-section-product .container-list .container-product:hover .container-bot p {
  opacity: 1;
}

.container-section-product .container-list .container-product .container-top {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 240px;
  background-image: url(imagenes-josu/product2.jpg);
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

.container-section-product .container-list .container-product .container-top .product {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: auto;
}

.container-section-product .container-list .container-product .container-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0px;
  height: 200px !important;
  border-top: .5px solid grey;
  border-radius: 0 0 5px 5px;
  background-color: white;
}

.container-section-product .container-list .container-product .container-bot .precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
}

.container-section-product .container-list .container-product .container-bot p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

header {
  width: 100%;
  background-color: #173F78;
  overflow: hidden;
  margin-bottom: 20px;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.logo {
  font-size: 60px;
  line-height: 100px;
  float: left;
  color: #E5E5E5;
  font-family: 'Bungee Shade', cursive;
}

header .buttoms {
  line-height: 100px;
  float: right;
}

header .buttoms a {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 15px;
  font-weight: bold;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: pointer;
}

.buttoms ul li a {
  display: inline-block;
  color: black;
  padding: 10px 20px;
  font-size: 15px;
}

header .buttoms a:hover {
  color: #ADB4C1;
  border-radius: 40px;
}

.fondoFooter {
  background: url(imagenes-josu/tiny-squares.png);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* body .slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

* body .slideshow-container .mySlides {
  display: none;
}

* body .slideshow-container .mySlides .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

* body .slideshow-container .mySlides img {
  width: 100%;
  height: 500px;
  vertical-align: middle;
}

* body .slideshow-container .mySlides .prev, * body .slideshow-container .mySlides .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

* body .slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

* body .slideshow-container .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

* body .slideshow-container .text .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}
/*# sourceMappingURL=styles.css.map */